body {
	min-width:450px;
	font-family: Verdana, Tahoma, Arial, Times, Serif;
	font-size:12px;
}

.feedbackText {
	font-size:10px;
}

#authAuthorise, #auth, .blocked {
	display: none;
}

#authTable {
	font-size:10px;
	width:100%;
}

.newsLink:hover {
	text-decoration:none;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

p.info {
	padding:3px 3px 3px 68px;
    color:#000;
    border-radius:6px;
    clear:left;
    margin:0 1em .5em 1em;
    border:2px solid #457F9F;
    background:#A7CBDF url('images/information_icon.svg') no-repeat 4px 50%;
}

table {
    border:0;
    margin:4px auto;
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}

table.classyTable {
    background:#E0BA8B;
    border:.1em solid #7F5F27;
    margin:.4em auto;
    border-collapse:collapse;
    border-spacing:0;
    clear:both;
    width:90%;
}

table.classyTable th,
table.classyTable td {
    border:1px solid #381F04;
    text-align:center;
}

table.classyTable thead {
    background:#BD976A;
}

table.classyTable tr.completed {
    background:#C59F70;
}

#activityList {
	list-style-type:none;
	padding:0px;
	margin:0px;
}

#activityList li {
	background-repeat:no-repeat;
	background-position:left center; 
	padding-left:20px;
	line-height:17px;
}

li.allow {
	background-image:url(http://www.runescape.com/img/toolbar/icons/activities-icon-allow.png);
	
}

li.disallow {
	background-image:url(http://www.runescape.com/img/toolbar/icons/activities-icon-disallow.png);
}

.GEoffer {
	padding:2px;
	margin:2px;
	font-size:12px;
}

.GEofferItemPic {
	/*background:#433621;
	border:2px solid #4A3E2A;
	border-radius:5px;
	width:36px;
	height:36px;
	margin:auto;
	padding:2px;*/
}

.GEofferItemPic:hover {
	/*background:#988D36;
	border:2px solid #545100;*/
}

.GEofferInfo {
	padding:3px;
}

.GEofferItemBuySell, .GEofferItemName {
	color:#392F27;
	float:left;
	font-weight:bold;
	/*text-shadow:1px 1px 0 #EBE573;*/
}

.GEofferItemBuySell {
	font-style:italic;
}

.GEofferItemPrice {
	float:right;
	color:#C90;
	text-shadow:1px 1px #000;
}

.GEofferPercentage {
	color:#EBE573;
	text-shadow:1px 1px #000;
}

.GEofferPercentageIndicator {
	background:#392F27;
	width:200px;
	height:15px;
	border:1px solid #000;
	border-radius:4px;
	float:right;
	cursor:default;
}

.GEofferPercentageIndicatorInner {
	background:#C68B01;
	border-radius:4px;
	height:100%;
	color:#EBE573;
	font-size:10px;
	text-shadow:1px 1px #000;
	text-align:left;
}

.GEofferQuantityPrice, .GEofferQuantityRaw {
	padding-left:4px;
}

.GEofferQuantityPrice {
	display:none;
}